<div class=" footer">
    <%= image_tag "Vector.png", class: "logo" %>
  <div class="text-center text-black p-3" >
    ©2022Copyright
    <a class="text-black" href="#" target="_blank">Materialised.shop</a>
  </div>
  <!-- Copyright -->
  <!-- Section: Social media -->
    <div class="icons">
      <!-- Facebook -->
      <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/" target="_blank" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="https://www.google.com/" target="_blank" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/" target="_blank" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>

    </div>
    <!-- Section: Social media -->
</div>
