
<div class="flex-container-one">
  <div class="first-div">
    <div class="header-one-div">
      <h1> Construction materials delivered same day, with a promise</h1>
    </div>

    <div class="search-bar-button-div">
      <%= form_with url: materials_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-bar-home",
          placeholder: "SEARCH FOR PRODUCT OR CATEGORY..."
        %>
      <% end %>
      <form action="/materials" method="get">
        <button type="submit" class="orange-button">Shop Now</button>
      </form>
    </div>

    <div class="header-two-p-div">
      <h2>WE HAVE ACHIEVED THIS IN 5 YEARS WITH HARD WORK</h2>
      <p>Order in minutes & have same day delivery. Thousands of products from brands you know and trust.</p>
    </div>

  </div>
  <div class="second-div">
    <p>second</p>
  </div>
  <div class="third-div">
    <%= image_tag "truck.jpg", class: "truck-image" %>
  </div>

</div>

<div class="container">
  <h2>Categories</h2>
    <% categories = [] %>
    <% @materials.each do |material| %>
      <% categories << material.category %>
    <% end %>
    <div id="categories-grid">
      <% categories.uniq.each do |category| %>
        <div class="category-card category-card-size">
          <img src="https://media.wickes.co.uk/is/image/wickes/GPID_1100377536_00?$normal$" alt="material">
        <hr>
          <p class="mt-2"><%=link_to "#{category}", materials_path(:query => "#{category}") %></p>
        </div>
      <% end %>
    </div>
  </div>
