#categories-grid{
    display: flex;
    max-width: 1300px;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}
.title-category{
  margin-top: 32px;
}
