
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    margin-top: auto;
    bottom: 0;
    background-color: #ECECEC;
    left: 0;

width: 100%;
    color: white;
    text-align: center
      }

  .logo {
    height: 70px;
      }
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
