.flex-container-one {
  display: flex;
  flex-direction: row;

}
 .first-container {
  height: 100vh;
 }

 .first-div {
  width: 45%;
  height: 600px;
  padding: 40px 0 40px 80px;
  background-color: white;
  font-size: 18px;
  color: black;
  z-index: 2;
}

.header-one-div {
  width: 700px;

  h1 {
  text-align: start;
  font-weight: bold;
  }
}

.search-bar-button-div {
  margin-top: 40px;
  display: flex;

}

.header-two-p-div {
  margin-top: 50px;
  width: 500px;

  h2 {
  font-size: 24px;
  font-weight: bold;
  }
}


.second-div {
  width: 20%;
  height: 600px;
  padding: 20px;
  background-color: white;
  font-size: 18px;
  color: #ffffff;
  z-index: 1;
}

.third-div {
  width: 35%;
  height: 600px;
  background-color: white;

  .truck-image {
    height: 70%;
    width: 100%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
}
