.mapboxgl-popup {
  width: 350px;
  height: 60px;
}

.mapboxgl-popup-content {
  text-align: left;
}

// #order_driver_id_4{
//   margin: 15px;
//   border: 1px solid red;
// }

#order_driver_id_7{
  margin: 15px;
  border: 1px solid red;
}
