.navbar-lewagon {
  justify-content: space-between;
  background-color: #ECECEC;
  border-bottom: 1px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-links-color{
  color: #225560;
}

.logo-color{
  color: #F0803C;
}
