.search-bar-home {
  width: 500px;
  height: 50px;
  padding: 10px;
  background-color: white;
  font-size: 18px;
  color: black;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
