body {
  background-color: white;
}

.flex-container-two {
  display: flex;
  flex-direction: column;
}

.margin-container-one-show {
  width: 80%;
  margin: 100px;
  background-color: white;
  height: 550px;
}

.first-div-show {
  margin-bottom: 25px;
  background-color: white;

  h2 {
    text-align: start;
    font-weight: bold;
    font-size: 24px;
  }
}

.image-show-div {
  max-width: 400px;
  max-height: 400px;
  background-color: white;


  .material-image {
    max-width: 400px;
    max-height: 400px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

.details-div {
  margin-left: 25px;
  background-color: white;
  width: 900px;
  max-height: 400px;

  h2 {
    text-align: start;
    font-weight: bold;
    font-size: 24px;
  }
}

.details-again-div {
  background-color: white;

  p {
   height: 200px;
   margin-left: 30px;
  }
}

.price-button-div {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: end;

  h2 {
    margin-left: 30px;
  }

}

.third-div-show {
  margin-top: 25px;
  h2 {
    text-align: start;
    font-weight: bold;
    font-size: 24px;
  }
}

.materials-show-flex {
  display: flex;
}
